@import 'sass/mixins.sass'

$an: ease-out .175s

$text: #7489A3
$radius: 4px

// 

.fb-row
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(space-between)
	+align-items(center)

.fb-row-center
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(center)
	+align-items(center)

.fb-row-top
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(space-between)
	+align-items(flex-start)

.fb-row-start
	+flexbox()
	+flex-flow(row wrap)
	+justify-content(flex-start)
	+align-items(flex-start)

.clearfix:after 
	content: ''
	display: block
	clear: both 
	height: 0
	visibility: hidden

//



body 
	line-height: 1.4
	font-family: 'Assistant', sans-serif
	font-size: 17px

h1
	font-size: 38px
	margin: 0
	color: #fff
	font-weight: 600

h2
	font-size: 28px
	margin: 0
	color: #374458
	font-weight: 600

p
	color: #5E6F82
	font-size: 16px
	margin: 0


.wrap 
	width: 100%
	max-width: 1210px
	padding: 0 20px
	margin: 0 auto


.promo 
	position: relative
	background: linear-gradient( 10deg, #08172C, #192F4F )
	min-height: 710px

	&:before
		position: absolute
		z-index: 0
		content: ''
		left: 0
		top: 180px
		width: 388px
		height: 503px
		background: url(../img/promo-pattern.png) center no-repeat
		background-size: cover

	&:after
		position: absolute
		content: ''
		width: 100%
		height: 83px
		left: 0
		top: 100%
		background: url(../img/promo-waves.png) center no-repeat
		background-size: cover


.header
	padding: 25px 0 0

.logo
	float: left
	display: inline-block

.nav
	float: right

	.nav-container-links
		display: inline-block
		vertical-align: middle
		margin-right: 30px

	a 
		font-weight: 700
		color: $text
		transition: $an
		margin-right: 30px
		display: inline-block

		img
			display: inline-block
			vertical-align: middle
			margin-right: 3px

		i
			display: inline-block
			vertical-align: middle
			margin-right: 3px

		span
			display: inline-block
			vertical-align: middle

		svg use
			transition: $an

		&:last-child
			margin-right: 0

		&:hover
			color: #fff
			transition: $an

			svg use
				fill: #fff
				transition: $an



	.contacts-us
		position: relative
		background: #1CACDE
		border-radius: $radius 
		padding: 0 28px 0 12px
		color: #fff
		line-height: 36px
		display: inline-block
		text-shadow: 0px 3px 5px rgba(0,0,0,0.17)

		&:after
			position: absolute
			content: ''
			border: 2px solid #fff 
			border-left: none
			border-bottom: none
			right: 14px
			top: 14px
			width: 6px
			height: 6px
			border-radius: 1px
			transform: rotate(45deg)

		&:hover
			transform: translateY(-3px)
			transition: $an

.promo-main
	position: relative
	z-index: 1

.promo-txt
	display: inline-block
	vertical-align: top
	padding-top: 180px
	max-width: 330px
	color: $text
	float: left

	h1
		margin-bottom: 20px

	p 
		margin: 0 0 25px

.pm--new-info
	position: relative
	padding-left: 64px
	font-size: 15px
	font-weight: 600
	margin-bottom: 20px

	&:before
		position: absolute
		content: ''
		width: 62px
		height: 71px
		background: url(../img/promo-news-info.png) center no-repeat
		background-size: cover
		left: 0
		top: -40px

.promo-txt-buttons
	a 
		line-height: 40px
		border-radius: $radius
		width: 130px
		text-align: center
		font-size: 17px
		display: inline-block
		vertical-align: middle
		margin-right: 7px
		font-weight: 700
		transition: $an

		&:hover
			transform: translateY(-3px)
			transition: $an

	.btn-for-startup
		color: #fff 
		background: #1CACDE

	.btn-for-business
		color: #182D4D 
		background: #fff


.promo-img
	display: inline-block
	vertical-align: top
	width: calc( 100% - 340px )
	max-width: 800px
	float: right
	margin-top: 60px



////////////////////////////////////////

.can-do
	padding: 120px 0 20px

	h2
		margin-bottom: 10px
		text-align: center

	.wrap > p 
		color: #0683BE
		text-align: center
		margin-bottom: 70px

.can-do-row

.can-do-item
	position: relative
	display: inline-block
	vertical-align: top
	width: 24%
	min-width: 270px
	padding-right: 20px
	padding-top: 110px
	margin-bottom: 60px

	img 
		display: block
		position: absolute
		left: 0
		bottom: calc( 100% - 80px )

	h3
		position: relative
		margin: 0 0 30px

		&:before
			position: absolute
			content: ''
			width: 50px
			height: 2px
			bottom: -14px
			left: 0
			background: #D1DAE3

	p 
		margin: 0 0 12px


//////////////////////////////////////

.deployment
	position: relative
	padding: 0 0 100px

	&:before
		position: absolute
		content: ''
		left: 0
		bottom: 0
		width: 100%
		max-width: 470px
		height: 130px	
		background: url(../img/deployment-left-waves.png) center no-repeat
		background-size: cover

	&:after
		position: absolute
		content: ''
		right: 0
		bottom: 0
		width: 340px
		height: 130px	
		background: url(../img/deployment-right-waves.png) center no-repeat
		background-size: cover

	h2
		margin-bottom: 28px 
		position: relative

		&:after
			position: absolute
			content: ''
			width: 50px
			height: 2px
			bottom: -14px
			left: 0
			background: #D1DAE3
	
.deployment-img
	display: inline-block
	vertical-align: top
	margin-right: 10px
	width: calc( 100% - 400px )
	max-width: 700px

.deployment-txt
	display: inline-block
	vertical-align: top
	max-width: 370px
	padding-top: 100px

	p 
		margin-bottom: 12px

.deployment-logos
	margin-top: 10px


////////////////////////////////////

.monitoring
	padding: 50px 0 80px
	position: relative

	&:after
		position: absolute
		content: ''
		left: 0
		bottom: 0
		width: 100%
		max-width: 400px
		height: 140px
		background: url(../img/monitoring-waves.png) center no-repeat
		background-size: cover


.monitoring-row
	text-align: center

.monitoring-txt
	display: inline-block
	vertical-align: middle
	margin-right: 15%
	text-align: left

	h2
		position: relative
		margin-bottom: 27px

	h2:after
		position: absolute
		content: ""
		width: 50px
		height: 2px
		bottom: -14px
		left: 0
		background: #D1DAE3

	p 
		margin-bottom: 10px

	.get-started
		position: relative
		background: #1CACDE
		border-radius: $radius 
		padding: 0 28px 0 12px
		margin-top: 20px
		font-weight: 700
		color: #fff
		line-height: 36px
		display: inline-block
		text-shadow: 0px 3px 5px rgba(0,0,0,0.17)
		transition: $an

		&:after
			position: absolute
			content: ''
			border: 2px solid #fff 
			border-left: none
			border-bottom: none
			right: 14px
			top: 14px
			width: 6px
			height: 6px
			border-radius: 1px
			transform: rotate(45deg)

		&:hover
			transform: translateY(-3px)
			transition: $an

.monitoring-img
	display: inline-block
	vertical-align: middle
	width: 100%
	max-width: 475px


//////////////////////////////////////////

.management
	position: relative
	min-height: 600px
	padding-top: 70px
	padding-bottom: 1px
	margin-bottom: 70px
	background: linear-gradient(to top, #08172C, #192F4F)

	&:after
		position: absolute
		z-index: 0
		content: ''
		left: 0
		top: 100%
		width: 100%
		height: 60px
		background: linear-gradient(to bottom, #586578, #fff)

	h2
		text-align: center
		color: #fff
		margin-bottom: 15px

	.wrap p 
		text-align: center
		color: #1CACDE
		margin: 0 0 100px

.management-circles
	display: block
	margin: 0 auto
	width: 100%	
	max-width: 1060px

.management-row
	position: relative
	z-index: 5
	margin-top: -100px

.management-row-item
	width: 280px
	height: 95px
	display: inline-block
	vertical-align: middle
	margin: 0 4px 15px
	background: #F4F9FF
	border-radius: 5px
	font-size: 15px
	padding: 20px 12px 
	color: #2B6185
	font-weight: 700
	box-shadow: 0px 2px 4px 1px rgba(7,22,43,0.11)



//////////////////////////////////////////

.expert
	padding-top: 90px

	h2
		text-align: center
		margin-bottom: 15px

	p 
		text-align: center
		margin: 0 auto 50px
		max-width: 350px

.expert-dialog
	max-width: 640px
	margin: 0 auto
	margin-bottom: 80px

.ex-left-dialog

	.ex-dialog-avatar
		float: left
		width: 53px
		height: 45px
		margin-right: 15px

		img 
			display: block

	.ex-dialog-msg
		float: left
		max-width: 505px
		border-radius: 4px 
		background: #0E203A
		padding: 12px 13px
		font-size: 15px
		color: #859EBD
		font-weight: 600


.ex-right-dialog

	.ex-dialog-avatar
		float: right
		width: 53px
		height: 45px
		margin-left: 15px

		img 
			display: block

	.ex-dialog-msg
		float: right
		max-width: 560px
		border-radius: 4px 
		background: #1CACDE
		padding: 12px 13px
		font-size: 15px
		color: #fff
		font-weight: 600


.ex-dialog-row
	margin-bottom: 20px

	
.expert-row
	max-width: 900px
	text-align: center
	margin: 0 auto

.expert-row-item
	display: inline-block
	vertical-align: middle
	margin: 0 12px 20px 
	max-width: 270px
	text-align: left
	border-radius: 4px 
	background: #F0F6F9
	padding: 20px

	h3
		color: #374458
		margin: 0 0 10px

	p 
		color: #5E6F82
		text-align: left
		margin: 0


////////////////////////////////////////

.pricing
	padding: 80px 0 

	h2
		text-align: center
		margin-bottom: 7px

	.wrap > p
		text-align: center
		margin-bottom: 45px
		color: #71879F

.pricing-range
	padding-top: 60px
	margin-bottom: 50px

.pricing-range-container
	background: #EFF8FD
	border-radius: 4px 
	border: 1px solid #dfebf3
	width: 100%
	height: 38px
	padding: 6px 6px 0 6px

.pricing-range-item
	float: left
	width: calc( 100% / 18 )
	text-align: center
	background: #fff
	height: 24px
	line-height: 20px
	border-top: 1px solid #CBE7F5
	border-bottom: 1px solid #CBE7F5
	color: #81c9ec
	font-size: 14px

	&:first-child
		border-radius: 4px 0px 0px 4px
		border-left: 1px solid #CBE7F5
		border-right: 1px solid #CBE7F5

	&:last-child
		border-radius: 0px 4px 4px 0px
		border-right: 1px solid #CBE7F5
		border-left: 1px solid #CBE7F5

.pricing-range-item.selected
	background: #1CACDE
	color: #b2e6ff
	border-top: 1px solid darken(#1CACDE, 6%)
	border-bottom: 1px solid darken(#1CACDE, 6%)

	&:first-child
		border-radius: 4px 0px 0px 4px
		border-left: 1px solid #CBE7F5
		border-right: 1px solid darken(#1CACDE, 6%)

	&:last-child
		border-radius: 0px 4px 4px 0px
		border-right: 1px solid #CBE7F5
		border-left: 1px solid #CBE7F5





.pricing-items-container
	margin-bottom: 20px

	
.pricing-item
	display: inline-block
	vertical-align: top
	width: 270px
	margin: 0 8px 30px
	border-radius: 4px
	border-bottom: 1px solid #CCCBF5
	cursor: pointer

	input
		display: none

	label
		position: relative
		display: block
		background: #F3FBFF
		width: 100%
		height: 100%
		padding: 10px 12px
		cursor: pointer
		transition: $an

		&:hover
			box-shadow: 0 5px 20px 0 rgba(0,0,0, .13)


.pricing-check-status
	position: absolute
	top: 15px
	right: 14px
	width: 24px
	height: 24px
	border-radius: 100%
	background: #E5F2F8
	box-shadow: inset 0px 2px 5px rgba(203,233,249,0.7)
	transition: $an

	&:after
		position: absolute
		content: ''
		width: 8px
		height: 4px
		border: 2px solid #CBE0EA
		border-right: none 
		border-top: none
		transform: rotate(-45deg)
		left: 7px
		top: 7px
		transition: $an

.pricing-item-title
	margin: 0 0 10px
	font-weight: 600
	font-size: 18px
	min-height: 53px
	padding-right: 30px
	transition: $an

	span 
		display: inline-block
		vertical-align: middle
		border-radius: 4px 
		padding: 2px 7px 
		background: #1CACDE
		color: #fff
		font-size: 16px
		font-weight: 600
		transition: $an

.pricing-item__price
	transition: $an
	span
		color: #106EB0
		transition: $an

// .pricing-item styles while checkbox is checked
.pricing-item input:checked + label
	background: #1CACDE

	.pricing-check-status
		background: #fff
		color: #1CACDE

		&:after
			border-color: #1CACDE

	.pricing-item-title
		color: #fff

		span
			background: #fff
			color: #1CACDE

	.pricing-item__price
		color: #fff

		span
			color: #fff 
	

.pricing-items-footer
	padding-left: 15px
	
	p
		text-align: left
		margin-bottom: 10px
		font-size: 17px
		color: #374458

		span 
			color: #0F66A4

		strong
			font-size: 20px



.pricing-items-amount
	display: inline-block
	vertical-align: top
	padding-right: 25px
	border-right: 1px solid #E7EEF5

.pricing-order-service-btn
	position: relative
	width: 150px
	height: 40px
	line-height: 40px
	background: #1CACDE
	border-radius: 4px
	padding-left: 14px
	color: #fff
	font-weight: 600
	cursor: pointer
	transition: $an

	&:after
		position: absolute
		content: ''
		top: 15px
		right: 16px
		width: 8px
		height: 4px
		border: 2px solid #fff 
		border-right: none 
		border-top: none
		transform: rotate(-45deg)
		transition: $an

	&:hover
		box-shadow: 0 5px 25px 0 rgba(0,0,0,0.25)
		transition: $an

.pricing-order-service-btn.white
	background: #fff
	color: #1CACDE
	border: 1px solid #1CACDE

	&:hover
		box-shadow: 0 5px 25px 0 rgba(0,0,0,0.18)

	&:after
		border-color: #1CACDE

.pricing-items-select-all
	display: inline-block
	vertical-align: top
	padding-left: 25px

	p 
		font-size: 17px
		position: relative
		color: #374458
		padding-left: 32px

.pricing-order-service-btn.disabled
	cursor: not-allowed !important
	opacity: 0.3

.pricing-select-all-checkbox
	margin-bottom: 20px

	input
		display: none

	label
		position: relative
		padding-left: 32px
		cursor: pointer

		&:before
			position: absolute
			content: ''
			left: 0
			top: 0
			border-radius: 4px
			width: 21px
			height: 21px
			border: 1px solid #88A2BE

		&:after
			opacity: 0
			position: absolute
			content: ''
			left: 6px
			top: 7px
			width: 8px
			height: 4px
			border: 2px solid #1CACDE
			border-right: none 
			border-top: none
			transform: rotate(-45deg) scale(0.1)
			transition: $an


.pricing-select-all-checkbox input:checked + label
	&:after
		transform: rotate(-45deg) scale(1)
		opacity: 1
		transition: $an



// pricing form

.pricing-form-container
	padding-top: 50px

.pricing-form__title
	margin-bottom: 50px 
	font-size: 17px
	color: #374458
	text-align: center

	span 
		color: #106EB0

.pricing-form
	text-align: center

	input
		display: inline-block
		vertical-align: middle
		border-radius: 4px
		height: 40px
		line-height: 40px
		margin-bottom: 20px
		background: #EBF2F8
		padding: 0 15px
		font-size: 16px
		margin-right: 8px
		box-shadow: inset 0px 2px 5px rgba(203,233,249,0.7)
		border: 1px solid transparent
		outline: none

		&:focus
			background: #fff 
			border: 1px solid #BDD2E5
			box-shadow: inset 0px 2px 5px rgba(203,233,249,0)
			transition: $an

	button 
		position: relative
		display: inline-block
		vertical-align: middle
		border-radius: 4px
		height: 40px
		line-height: 36px
		margin-bottom: 20px
		background: #1CACDE
		border: 1px solid transparent
		outline: none
		color: #fff
		font-weight: 600
		padding: 0 35px 0 10px
		transition: $an

		&:after
			position: absolute
			content: ''
			right: 15px
			top: 14px
			width: 8px
			height: 4px
			border: 2px solid #fff
			border-right: none
			border-top: none
			transform: rotate(-45deg) 

		&:hover
			background: #0F94C2
			transition: $an





///////////////////////////////////////////

.request
	background: #1CACDE
	padding: 90px 0

.request-txt
	display: inline-block
	vertical-align: top 
	max-width: 430px
	font-weight: 600

	h2
		font-size: 38px
		color: #fff
		font-weight: 300
		margin-bottom: 25px

	p 
		color: #fff
		font-size: 17px
		margin: 0 0 25px
		max-width: 280px
		font-weight: 600


.request-form
	float: right
	max-width: 480px
	width: 100%
	padding-top: 10px
	background: #F3FBFF 
	border-radius: 4px 
	padding: 40px 20px 20px

	input
		display: block
		width: 100%
		height: 48px
		line-height: 48px
		background: #fff 
		margin-bottom: 20px
		padding: 0 15px
		border-radius: 4px 
		border: 1px solid #BCDAE9
		outline: none
		color: #222
		transition: $an

		&:focus
			border: 1px solid #1CACDE
			transition: $an

	button 
		display: block
		width: 100%
		height: 48px
		line-height: 48px
		background: #1CACDE
		text-align: center
		color: #fff
		font-weight: 600 
		margin-bottom: 20px
		margin-top: 30px
		border: none
		outline: none
		border-radius: 4px


///////////////////////////////////////////

.footer
	background: linear-gradient(to top, #08172C, #192F4F)
	padding: 100px 0 80px

.footer-nav
	float: left

	span 
		color: #435C7D
		font-weight: 600
		margin-right: 15px

	a 
		color: #435C7D
		font-weight: 600
		margin-right: 13px
		cursor: pointer
		transition: $an

		&:hover
			color: #fff
			transition: $an

.footer-social
	float: right

	a 
		display: inline-block
		vertical-align: middle
		margin-right: 12px
		cursor: pointer

		&:hover
			.footer-ic-bg
				fill: #fff
				fill-opacity: 0.1
				transition: $an

			.footer-ic-logo
				fill: #fff
				fill-opacity: 0.5
				transition: $an

			svg use
				transition: $an



//////////////////////////////////////////////////////
// contact-page 
//////////////////////////////////////////////////////


.contact-page 
	position: relative
	background: linear-gradient( 0deg, #08172C, #192F4F )
	min-height: 310px
	padding-bottom: 1px

.contact-title
	text-align: center
	margin-top: 80px
	margin-bottom: 10px

.contact-subtitle
	position: relative
	text-align: center
	max-width: 400px
	margin: 0 auto 80px

	&:before
		position: absolute
		z-index: 1
		content: ''
		width: 450px
		height: 530px
		background: url(../img/c-form-pattern.png) center no-repeat
		left: -300px
		top: 60px

.contacts-form
	position: relative
	z-index: 5
	background: #fff 
	border-radius: 4px 
	padding: 20px
	box-shadow: 0 5px 20px 0 rgba(0,0,0, .3)
	max-width: 630px
	margin: 0 auto 30px



	button 
		display: inline-block
		outline: none
		border-radius: 4px 
		background: #1CACDE
		border: 1px solid #0F94C2
		height: 40px
		line-height: 38px 
		padding: 0 32px 
		text-align: center
		color: #fff
		font-weight: 600
		transition: $an

		&:hover
			background: #0F94C2
			transition: $an

.c-form-submit
	display: block
	width: 100%
	text-align: right

.c-form-row
	font-size: 0
	margin-bottom: 20px

	input, select
		font-size: 17px
		width: calc( 100% - 200px )
		height: 40px
		line-height: 40px
		padding: 0 15px
		display: inline-block
		vertical-align: middle
		background: #EFF5F9
		border-radius: 4px 
		text-align: left
		border: 1px solid transparent
		outline: none
		color: #1A406C
		box-shadow: inset 0px 0px 5px 0px rgba(209, 218, 227, 0.3)
		transition: $an

		&:focus
			background: #fff 
			border: 1px solid #BDD2E5
			transition: $an

	option
		background: #fff 
		border-bottom: 1px solid #BDD2E5

	textarea
		font-size: 17px
		width: calc( 100% - 200px )
		height: 90px
		line-height: 1.3
		text-align: left
		padding: 10px 15px
		display: inline-block
		vertical-align: top
		background: #EFF5F9
		border-radius: 4px 
		border: 1px solid transparent
		outline: none
		color: #1A406C
		resize: none
		transition: $an

		&:focus
			background: #fff 
			border: 1px solid #BDD2E5
			transition: $an

.c-form-label
	display: inline-block
	vertical-align: middle
	font-size: 17px
	font-weight: 600
	width: 200px

	span 
		font-size: 16px
		color: #A6B4C2
		font-weight: 300


.footer.contact-page-footer
	background: #08172C


//////////////////////////////////////////////////////
// page-404
//////////////////////////////////////////////////////

.page-404
	position: relative
	min-height: 700px
	background: linear-gradient(160deg, #08172C, #192F4F)
	padding-top: 25px 
	padding-bottom: 1px
	text-align: center

	h1
		text-align: center
		margin-bottom: 20px
		font-weight: 300

.error-page-p-light
	color: #1CACDE
	margin-bottom: 10px

.error-page-p-dark
	margin-bottom: 60px

.logo-404
	position: relative
	z-index: 1
	display: block
	margin: 0 auto 100px
	width: 130px

.background-404
	display: block
	margin: 0 auto 50px

.error-page-backlink
	display: block
	width: 180px
	color: #fff
	font-weight: 600
	border-radius: 4px 
	text-align: center
	background: #1CACDE
	height: 40px
	line-height: 40px
	margin: 0 auto 100px
	transition: $an

	&:hover
		background: #0F94C2
		transition: $an
































/////////////////////////////////////////////////
/////////////////////////////////////////////////
////////////////// RESPONSIVE ///////////////////
/////////////////////////////////////////////////
/////////////////////////////////////////////////

@media only screen and (max-width : 1210px)
	.management-row
		text-align: center

	.management-row-item
		text-align: left

@media only screen and (max-width : 1200px) 


@media only screen and (max-width : 1150px) 
	.can-do-row
		text-align: center

	.can-do-item
		width: 100%
		max-width: 370px
		text-align: left
		padding-right: 0px
		margin: 0 25px 50px


@media only screen and (max-width : 1130px) 
	.deployment-txt
		padding-top: 90px


@media only screen and (max-width : 1100px) 
	.deployment-img
		display: none

	.deployment-txt
		width: 100%
		max-width: 100%
		text-align: center
		padding-top: 40px

	.deployment h2:after
		left: 50%
		transform: translateX(-50%) 

@media only screen and (max-width : 1000px) 
	.promo
		min-height: auto
		padding-bottom: 70px

	.promo:before
		top: 100px
		width: 270px

	.promo-img
		margin-top: 50px

	.promo-txt
		padding-top: 120px	


@media only screen and (max-width : 900px) 
	.can-do-item
		width: calc( 49% - 50px )
		max-width: 370px
		text-align: left
		padding-right: 0px
		margin: 0 25px 50px

	.management-circles
		display: none

	.management
		min-height: auto
		margin-bottom: 0

	.management:after
		display: none

	.management .wrap p
		margin: 0 0 0px

	.management-row
		margin-top: 0

	.management-plus
		background: #08172C	
		padding-top: 40px
		padding-bottom: 40px



@media only screen and (max-width : 800px) 
	.promo-img
		display: none

	.promo-txt
		width: 100%
		display: block
		margin: 0 auto
		float: none

	.promo-txt h1
		text-align: center

	.promo-txt p
		text-align: center

	.promo-txt-buttons
		text-align: center

	.promo
		padding-bottom: 90px

	.background-404
		width: 95%
		max-width: 500px

	.page-404 p 
		padding: 0 20px



@media only screen and (max-width : 700px) 
	.can-do .wrap > p
		margin-bottom: 40px

	.can-do-item
		width: 100%
		max-width: 320px 
		margin: 0 0 50px

		img 
			left: 50%
			transform: translateX(-50%)

		h3
			text-align: center

			&:before
				display: none

	.header
		position: relative

	.logo
		float: none

	.nav
		width: 100%
		text-align: center
		float: none
		padding-top: 25px

		a 
			margin: 0 12px 15px

	.nav a:last-child
		margin: 0 12px 15px

	.nav .nav-container-links
		margin: 0

	.nav a.contacts-us
		position: absolute
		right: 0px
		top: 25px
		margin: 0

	.promo-txt
		padding-top: 70px

	.ex-left-dialog .ex-dialog-avatar
		width: 45px
		margin-right: 4px

		img 
			display: block
			width: 100%

	.ex-right-dialog .ex-dialog-avatar
		width: 45px
		margin-left: 4px

		img 
			display: block
			width: 100%

	.ex-left-dialog .ex-dialog-msg
		font-size: 14px 
		max-width: calc( 100% - 49px - 49px )

	.ex-right-dialog .ex-dialog-msg
		font-size: 14px 
		max-width: calc( 100% - 49px - 49px )

	.footer 
		padding: 70px 0 40px

	.footer-nav
		float: none 
		text-align: center
		margin-bottom: 30px

		span, a
			display: inline-block
			vertical-align: middle
			margin: 0 8px 25px

	.footer-social
		float: none 
		text-align: center

		a 
			margin: 0 12px 20px

	.c-form-label
		width: 150px

	.c-form-row input, .c-form-row select, .c-form-row textarea
		width: calc( 100% - 150px )

	.pricing-form
		input
			display: block
			width: 100%
			max-width: 300px
			margin: 0 auto 20px



@media only screen and (max-width : 600px) 
	.pricing-items-amount
		display: block
		width: 100%
		max-width: 300px
		border: none
		margin-bottom: 40px
		padding: 0

	.pricing-items-select-all
		display: block
		width: 100%
		max-width: 300px
		border: none
		margin-bottom: 0px
		padding: 0

	.pricing-items-container
		text-align: center

	.pricing-item
		text-align: left

	.pricing-items-footer p
		text-align: center
		margin-bottom: 20px

	.pricing-order-service-btn
		margin: 0 auto

	.pricing-select-all-checkbox
		text-align: center

	.request-txt h2
		font-size: 28px

	.request-form
		padding: 40px 10px 20px

@media only screen and (max-width : 500px)

	.c-form-row
		margin-bottom: 25px

	.c-form-label
		display: block
		width: 100%
		text-align: left 
		margin-bottom: 5px

	.c-form-row input, .c-form-row select, .c-form-row textarea
		display: block
		width: 100% 

@media only screen and (max-width : 400px) 

	.contacts-form
		padding: 20px 15px

	.logo-404
		margin: 0 auto 50px