{{set . "title" "DOps Team"}}
{{template "header.html" .}}

{{if eq .RunMode "dev"}}
	<h4>Not found</h4>
	{{template "errors/404-dev.html" .}}
{{else}}
	<div class="page-404">
		<a href="/" class="logo-404">
			<img src="/public/img/logo.svg" alt="">
		</a>

		<h1>
			Oops!
		</h1>
		{{with .Error}}
		<p class="error-page-p-light">
			{{.Title}}
		</p>
		<p class="error-page-p-dark">
			{{.Description}}
		</p>
		{{end}}

		<img class="background-404" src="/public/img/404.png" alt="">

		<a href="/" class="error-page-backlink">
			Back to Main Page
		</a>

	</div>
{{end}}

{{template "scripts.html" .}}