{{set . "title" "DOps Team"}}
{{template "header.html" .}}

{{if eq .RunMode "dev"}}
	<h4>Not found</h4>
	{{template "errors/500-dev.html" .}}
{{else}}
	<div class="page-404">
		<a href="/" class="logo-404">
			<img src="/public/img/logo.svg" alt="">
		</a>

		<h1>
			Uh.. Error 500!
		</h1>
		<p class="error-page-p-light">
			Something went wrong at our end
		</p>
		<p class="error-page-p-dark">
			Please try again in 30 seconds. That’s all we know
		</p>

		<img class="background-404" src="/public/img/502-man.png" alt="">

		<a href="/" class="error-page-backlink">
			Back to Main Page
		</a>

	</div>
{{end}}

{{template "scripts.html" .}}