{{set . "title" "DOps Team"}}
{{set . "footer_class" "footer contact-page-footer"}}
{{template "header.html" .}}

<div class="contact-page">
		<div class="wrap">
			<div class="header clearfix  fadeInDown" data-wow-duration="1.5" data-wow-delay="0.5s">
				<a href="/" class="logo">
					<img src="/public/img/logo.svg" alt="">
				</a>
				<div class="nav ">
					<div class="nav-container-links">
						<a href=".pricing">
							Pricing
						</a>
						<a href="tel:+2096258933">
							<i>
								<svg width="14" height="14" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
								<g id="Canvas" transform="translate(-2612 270)">
								<g id="Shape">
								<use xlink:href="#path0_fill" transform="translate(2612 -270)" fill="#7489A3"/>
								</g>
								</g>
								<defs>
								<path id="path0_fill" d="M 2.8 6.06667C 3.88889 8.24444 5.75556 10.0333 7.93333 11.2L 9.64444 9.48889C 9.87775 9.25559 10.1889 9.17781 10.4222 9.33333C 11.2778 9.64444 12.2111 9.8 13.2222 9.8C 13.6889 9.8 14 10.1111 14 10.5778L 14 13.2222C 14 13.6889 13.6889 14 13.2222 14C 5.91111 14 0 8.08889 0 0.777778C 0 0.311111 0.311111 0 0.777778 0L 3.5 0C 3.96667 0 4.27778 0.311111 4.27778 0.777778C 4.27778 1.71111 4.43333 2.64444 4.74444 3.57778C 4.82222 3.81111 4.74444 4.12222 4.58889 4.35556L 2.8 6.06667Z"/>
								</defs>
								</svg>
							</i>
							<span>+2 096 258 933</span>
						</a>
					</div>
					<a href="#" class="contacts-us">
						Contact us
					</a>
				</div>
			</div>

			<h1 class="contact-title">
				Contact Our Sales Team
			</h1>
			<p class="contact-subtitle">
				Our team is happy to answer your sales question. Fill out
				the form and we’ll be in touch as soon as possible
			</p>
			<form action="{{url "App.PostContact"}}" method="post" class="contacts-form">
{{with $field := field "contact.Name" .}}
				<div class="c-form-row">
					<div class="c-form-label {{$field.ErrorClass}}">
						Your full name *
					</div>
					<input type="text" placeholder="John Doe" name="{{$field.Name}}" value="{{$field.Flash}}" required>
					<span class="error">{{$field.Error}}</span>
				</div>
{{end}}				
{{with $field := field "contact.Email" .}}
				<div class="c-form-row">
					<div class="c-form-label {{$field.ErrorClass}}">
						Your work email *
					</div>
					<input type="text" placeholder="john.doe@gmail.com" name="{{$field.Name}}" value="{{$field.Flash}}" required>
					<span class="error">{{$field.Error}}</span>
				</div>
{{end}}	
{{with $field := field "contact.Website" .}}				
				<div class="c-form-row">
					<div class="c-form-label {{$field.ErrorClass}}">
						Company website
					</div>
					<input type="text" placeholder="johndoe.com" name="{{$field.Name}}" value="{{$field.Flash}}">
					<span class="error">{{$field.Error}}</span>
				</div>
{{end}}	
{{$countries := .countries}}
{{with $field := field "contact.Country" .}}				
				<div class="c-form-row">
					<div class="c-form-label {{$field.ErrorClass}}">
						Country
					</div>
					<select name="{{$field.Name}}" value="{{$field.Flash}}">
{{range $i, $c := $countries}}
						<option value="{{$c}}"{{if eq $i 0}} selected="selected"{{end}}>{{$c}}</option>
{{end}}
					</select>
					<span class="error">{{$field.Error}}</span>
				</div>
{{end}}	
{{with $field := field "contact.Phone" .}}				
				<div class="c-form-row">
					<div class="c-form-label {{$field.ErrorClass}}">
						Phone
					</div>
					<input type="text" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="+2(___)-___-___">
					<span class="error">{{$field.Error}}</span>
				</div>
{{end}}	
{{with $field := field "contact.Note" .}}				
				<div class="c-form-row">
					<div class="c-form-label {{$field.ErrorClass}}">
						Have questions? <br>
						<span>Optional</span>
					</div>
					<textarea name="{{$field.Name}}" placeholder="Describe in brief your problem, we will contact you within 24 hours">{{$field.Flash}}</textarea>
					<span class="error">{{$field.Error}}</span>
				</div>
{{end}}	
				<div class="c-form-submit">
					<button>
						Contact
					</button>
				</div>
			</form>
		</div>
	</div>
	
{{template "footer.html" .}}
{{template "scripts.html" .}}