{{set . "title" "DOps Team"}}
{{set . "footer_class" "footer"}}
{{template "header.html" .}}

  <div class="promo">
    <div class="wrap">
      <div class="header clearfix  fadeInDown" data-wow-duration="1.5" data-wow-delay="0.5s">
        <a href="/" class="logo">
          <img src="/public/img/logo.svg" alt="">
        </a>
        <div class="nav ">
          <div class="nav-container-links">
            <a href=".pricing">
              Pricing
            </a>
            <a href="tel:+2096258933">
              <i>
                <svg width="14" height="14" viewBox="0 0 14 14" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <g id="Canvas" transform="translate(-2612 270)">
                <g id="Shape">
                <use xlink:href="#path0_fill" transform="translate(2612 -270)" fill="#7489A3"/>
                </g>
                </g>
                <defs>
                <path id="path0_fill" d="M 2.8 6.06667C 3.88889 8.24444 5.75556 10.0333 7.93333 11.2L 9.64444 9.48889C 9.87775 9.25559 10.1889 9.17781 10.4222 9.33333C 11.2778 9.64444 12.2111 9.8 13.2222 9.8C 13.6889 9.8 14 10.1111 14 10.5778L 14 13.2222C 14 13.6889 13.6889 14 13.2222 14C 5.91111 14 0 8.08889 0 0.777778C 0 0.311111 0.311111 0 0.777778 0L 3.5 0C 3.96667 0 4.27778 0.311111 4.27778 0.777778C 4.27778 1.71111 4.43333 2.64444 4.74444 3.57778C 4.82222 3.81111 4.74444 4.12222 4.58889 4.35556L 2.8 6.06667Z"/>
                </defs>
                </svg>
              </i>
              <span>+2 096 258 933</span>
            </a>
          </div>
          <a href="/contact" class="contacts-us">
            Contact us
          </a>
        </div>
      </div>
      <div class="promo-main clearfix">
        <div class="promo-txt">
          <div class="pm--new-info  fadeInDown" data-wow-delay="1.5s">
            New auto payment option added
          </div>
          <h1 class=" fadeInLeft" data-wow-delay="1.8s">
            Service Dops Team
          </h1>
          <p class=" fadeInLeft" data-wow-delay="2.1s">
            Full stack development & operations services.
            We will provide for you the best services for 
            DevOps for your projects
          </p>
          <div class="promo-txt-buttons">
            <a href=".can-do" class="btn-for-startup  fadeIn" data-wow-delay="3s" data-wow-duration="2s">
              Learn More
            </a>
            <a href=".pricing" class="btn-for-business  fadeIn" data-wow-delay="3.5s" data-wow-duration="2s">
              Order Now
            </a>
          </div>
        </div>
        <img src="/public/img/promo-img.png" alt="" class="promo-img  zoomIn" data-wow-duration="1.5" data-wow-delay="1s">
      </div>
    </div>
  </div>
  
  <div class="can-do">
    <div class="wrap">
      <h2>
        What can we do
      </h2>
      <p>
        Basic capabilities, which we own
      </p>
      <div class="can-do-row">
        <div class="can-do-item">
          <img src="/public/img/can-do-1.png" alt="">
          <h3>
            Virtualization
          </h3>
          <p>
            Building and managing cloud and 
            virtualization services (AWS, VMWare etc.)
            Managing AWS cloud resources.
          </p>
          <p>
            Work with hypervisors (ESXi, KVM, Xen)
          </p>
          <p>
            Cloud services (AWS, Microsoft Azure, 
            Google cloud, Rackspace, AliCloud)
          </p>
          <p>
            The initial configuration of the servers, 
            preparing the environment for the dev, 
            test or production environment (from 
            DNS to the required libraries for your
            programming language)
          </p>
        </div>
        <div class="can-do-item">
          <img src="/public/img/can-do-2.png" alt="">
          <h3>
            Containerization
          </h3>
          <p>
            Containerization technologies (Docker, 
            rkt, LXD)
          </p>
          <p>
            Container deployment
          </p>
          <p>
            Orchestration (kubernetes, mesos, 
            docker swarm, rancher)
          </p>
          <p>
            Writing manifestes to build and run 
            applications in containers.
          </p>
          <p>
            Run your app in container.
          </p>
          <p>
            Custom configuration of containers 
            depending on the environment.
          </p>
        </div>
        <div class="can-do-item">
          <img src="/public/img/can-do-3.png" alt="">
          <h3>
            Configuration systems
          </h3>
          <p>
            CMS (Puppet, Chef, Ansible, SaltStack..)
          </p>
          <p>
            Automating the configuration of 
            applications and servers.
          </p>
          <p>
            Writing manifestos for a specific 
            architecture.
          </p>
        </div>
        <div class="can-do-item">
          <img src="/public/img/can-do-4.png" alt="">
          <h3>
            CI CD delivery
          </h3>
          <p>
            Establish and operate a Continuous 
            Integration and Continuous Deployment 
            (CI/CD) pipeline in a cloud environment.
          </p>
          <p>
            Solutions for implementing CI / CD 
            (Teamcity, Jenkins, Gitlab CI)
          </p>
          <p>
            Automate the build of the application.
          </p>
          <p>
            Configuration continuous integration for your your needs, apps.
          </p>
        </div>
      </div>
      
    </div>
  </div>

  <div class="deployment">
    <div class="wrap">
      <img src="/public/img/deploy-image.png" alt="" class="deployment-img">
      <div class="deployment-txt">
        <h2>
          Deployment
        </h2>
        <p>
          Organization of the application de-laying 
          (mobile-app stores, server app, frontend app, VR app)
        </p>
        <p>
          Setting up the process of rapid deployment to any 
          platform and site.
        </p>
        <p>
          Support for the application's laying out process.
        </p>
        <img src="/public/img/deployment-logos.png" alt="" class="deployment-logos">
      </div>

    </div>
  </div>

  <div class="monitoring">
    <div class="wrap">
      <div class="monitoring-row clearfix">
        <div class="monitoring-txt">
          <h2>
            Monitoring
          </h2>
          <p>
            Monitoring systems (Nagios, Zabbix, Prometheus, Telegraf)
          </p>
          <p>
            Writing custom plugins for specific needs.
          </p>
          <p>
            Setting up alerts (slack, telegram, sms)
          </p>
          <a href="#" class="get-started">
            Get Started
          </a>
        </div>
        <img src="/public/img/monitoring-img.png" alt="" class="monitoring-img">
      </div>
    </div>
  </div>

  <div class="management">
    <div class="wrap">
      <h2>
        Project Management 
      </h2>
      <p>
        Basic service positions
      </p>
      <img class="management-circles" src="/public/img/manage-circles.png" alt="">
      
    </div>
  </div>

  <div class="management-plus">
    <div class="wrap">
      <div class="management-row">
        <div class="management-row-item">
          Task managers (Jira, Trello, Slack, 
          Taskworld, Redmine, Jira..)
        </div>
        <div class="management-row-item">
          Setting up a project for a specific 
          project
        </div>
        <div class="management-row-item">
          Automation of processes & workflow
          (integration with CI, git-hooks..)
        </div>
        <div class="management-row-item">
          Configuring, connecting and 
          supporting plugins
        </div>
      </div>
    </div>
  </div>

  <div class="expert">
    <div class="wrap">
      <h2>
        Expert Service and Support
      </h2>
      <p>
        We do not give up everything that is set and set up, 
        at any time you can contact us for support
      </p>
      <div class="expert-dialog">
        <div class="ex-left-dialog">
          <div class="ex-dialog-row clearfix">
            <div class="ex-dialog-avatar">
              <img src="/public/img/james.png" alt="">
            </div>
            <div class="ex-dialog-msg">
              Hello, my name is James, and I have problems with the delivery of data to my online
              store service. Tell me, can you help me with this question?
            </div>
          </div>
        </div>
        <div class="ex-right-dialog">
          <div class="ex-dialog-row clearfix">
            <div class="ex-dialog-avatar">
              <img src="/public/img/dops.png" alt="">
            </div>
            <div class="ex-dialog-msg">
              Hello, James!
            </div>
          </div>
          <div class="ex-dialog-row clearfix">
            <div class="ex-dialog-avatar">
              
            </div>
            <div class="ex-dialog-msg">
              Please tell us your details of your online store so that we can solve the problem.
            </div>
          </div>
        </div>
      </div>
      <div class="expert-row">
        <div class="expert-row-item">
          <h3>
            Before set-up
          </h3>
          <p>
            We help you identify your goals
            and choose priorities
          </p>
        </div>
        <div class="expert-row-item">
          <h3>
            During set-up
          </h3>
          <p>
            Learn how to create an excellent
            system monitoring
          </p>
        </div>
        <div class="expert-row-item">
          <h3>
            After set-up
          </h3>
          <p>
            Receiver regular reviews to make
            sure you get the results you need
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="pricing">
    <div class="wrap">
      <h2>
        Pricing
      </h2>
      <p>
        Use the calculator to choose the best package of services
      </p>
      <form action="{{url "App.PostOrder"}}" method="post" class="pricing-form">
        <div class="pricing-items-container">
<!-- {{$serviceField := field "order.Services" .}}  -->
{{range $i, $s := .services}}
          <div class="pricing-item">
            <input id="pricing-{{$i}}" name="order.Services" value="{{.Id}}" type="checkbox" class="pricing-checkbox">
            <label for="pricing-{{$i}}">
              <span class="pricing-check-status"></span>
              <h3 class="pricing-item-title">
                {{.Name}}
                <span>
                  {{.Level}}
                </span>
              </h3>
              <div  class="pricing-item__price">
                <span>
                  <strong>${{.Price}}</strong>
                  / {{.Tarification}}
                </span> 
              </div>
            </label>
          </div>
{{end}}
        </div>

        <div class="pricing-form-container">
          <p class="pricing-form__title">
            You have selected <span id="checked-input-length">0</span>/{{len .services}} services total amount of the order: <span id="pricing-form-calc">
              <strong>$0</strong>/mo
            </span>
          </p>
{{with $field := field "order.Name" .}}          
            <input class="{{$field.ErrorClass}}" type="text" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Name" required>
            <span class="error">{{$field.Error}}</span>
{{end}}
{{with $field := field "order.Email" .}}            
            <input class="{{$field.ErrorClass}}" type="text" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Email" required>
            <span class="error">{{$field.Error}}</span>
{{end}}            
{{with $field := field "order.Phone" .}}            
            <input class="{{$field.ErrorClass}}" type="text" name="{{$field.Name}}" value="{{$field.Flash}}" placeholder="Phone">
            <span class="error">{{$field.Error}}</span>
{{end}}        
            <button>Order Service</button>
        </div>
      </form>
    </div>
  </div>
  
{{template "footer.html" .}}
{{template "scripts.html" .}}