  {{if eq .RunMode "dev"}}
    {{template "debug.html" .}}
  {{end}}
	  <div class="{{.footer_class}}">
			<div class="wrap clearfix">
				<div class="footer-nav">
					<span>
						© 2017 DopsTeam Technologies Inc.
					</span>
					<a href="#">
						Terms
					</a>
					<a href="#">Privacy</a>
					<a href="/contact">Contacts</a>
				</div>
				<div class="footer-social">
					<a href="#">
						<i>
							<svg width="28" height="28" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Canvas-fb" transform="translate(-2774 -6208)">
							<g id="1-fb">
							<g id="1-fb">
							<use xlink:href="#path0_fill-fb" transform="translate(2775 6209)" fill="#000000" fill-opacity="0.08"/>
							<mask id="mask0_outline_out-fb">
							<rect id="mask0_outline_inv" fill="white" x="-1" y="-1" width="28" height="28" transform="translate(2775 6209)"/>
							<use xlink:href="#path0_fill-fb" fill="black" transform="translate(2775 6209)"/>
							</mask>
							<g mask="url(#mask0_outline_out-fb)">
							<use xlink:href="#path1_stroke_2x-fb" transform="translate(2775 6209)" fill="#1C3150"/>
							</g>
							</g>
							<g id="f">
							<use xlink:href="#path2_fill-fb" class="footer-ic-logo" transform="translate(2784 6214)" fill="#465B76"/>
							</g>
							</g>
							</g>
							<defs>
							<path id="path0_fill-fb" class="footer-ic-bg" fill-rule="evenodd" d="M 0 2C 0 0.895431 0.895431 0 2 0L 24 0C 25.1046 0 26 0.895431 26 2L 26 24C 26 25.1046 25.1046 26 24 26L 2 26C 0.895431 26 0 25.1046 0 24L 0 2Z"/>
							<path id="path1_stroke_2x-fb" d="M 2 1L 24 1L 24 -1L 2 -1L 2 1ZM 25 2L 25 24L 27 24L 27 2L 25 2ZM 24 25L 2 25L 2 27L 24 27L 24 25ZM 1 24L 1 2L -1 2L -1 24L 1 24ZM 2 -1C 0.343146 -1 -1 0.343146 -1 2L 1 2C 1 1.44772 1.44772 1 2 1L 2 -1ZM 24 1C 24.5523 1 25 1.44772 25 2L 27 2C 27 0.343146 25.6569 -1 24 -1L 24 1ZM 25 24C 25 24.5523 24.5523 25 24 25L 24 27C 25.6569 27 27 25.6569 27 24L 25 24ZM 2 25C 1.44772 25 1 24.5523 1 24L -1 24C -1 25.6569 0.343146 27 2 27L 2 25Z"/>
							<path id="path2_fill-fb" fill-rule="evenodd" d="M 5 5L 5 4C 4.37109 2.75014 4.41469 2.41326 6 2L 7 2L 7 0L 5 0C 2.28274 0 1.75087 1.19788 2 4L 2 5L 0 5L 0 7L 2 7L 2 14L 5 14L 5 7L 7 7L 7 5L 5 5L 5 5Z"/>
							</defs>
							</svg>
						</i>
					</a>
					<a href="#">
						<i>
							<svg width="28" height="28" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Canvas-tw" transform="translate(-2820 -6208)">
							<g id="1-tw">
							<g id="1-tw">
							<use xlink:href="#path0_fill-tw" transform="translate(2821 6209)" fill="#000000" fill-opacity="0.08"/>
							<mask id="mask0_outline_out-tw">
							<rect id="mask0_outline_inv" fill="white" x="-1" y="-1" width="28" height="28" transform="translate(2821 6209)"/>
							<use xlink:href="#path0_fill-tw" fill="black" transform="translate(2821 6209)"/>
							</mask>
							<g mask="url(#mask0_outline_out-tw)">
							<use xlink:href="#path1_stroke_2x-tw" transform="translate(2821 6209)" fill="#1C3150"/>
							</g>
							</g>
							<g id="t">
							<use xlink:href="#path2_fill-tw" class="footer-ic-logo" transform="translate(2828 6216)" fill="#465B76"/>
							</g>
							</g>
							</g>
							<defs>
							<path id="path0_fill-tw" class="footer-ic-bg" fill-rule="evenodd" d="M 0 2C 0 0.895431 0.895431 0 2 0L 24 0C 25.1046 0 26 0.895431 26 2L 26 24C 26 25.1046 25.1046 26 24 26L 2 26C 0.895431 26 0 25.1046 0 24L 0 2Z"/>
							<path id="path1_stroke_2x-tw" d="M 2 1L 24 1L 24 -1L 2 -1L 2 1ZM 25 2L 25 24L 27 24L 27 2L 25 2ZM 24 25L 2 25L 2 27L 24 27L 24 25ZM 1 24L 1 2L -1 2L -1 24L 1 24ZM 2 -1C 0.343146 -1 -1 0.343146 -1 2L 1 2C 1 1.44772 1.44772 1 2 1L 2 -1ZM 24 1C 24.5523 1 25 1.44772 25 2L 27 2C 27 0.343146 25.6569 -1 24 -1L 24 1ZM 25 24C 25 24.5523 24.5523 25 24 25L 24 27C 25.6569 27 27 25.6569 27 24L 25 24ZM 2 25C 1.44772 25 1 24.5523 1 24L -1 24C -1 25.6569 0.343146 27 2 27L 2 25Z"/>
							<path id="path2_fill-tw" fill-rule="evenodd" d="M 13 1C 12.5215 1.52233 12.0081 1.67211 11 2C 12.0195 1.3954 12.4411 0.850448 13 0C 12.1243 0.521257 11.554 0.752291 11 1C 10.4598 0.336803 9.76765 0 9 0C 7.52718 0 6.33303 1.24394 6 3C 6.33303 2.99476 6.35659 3.20716 6 3C 4.18601 3.29432 2.22094 2.18832 1 1C 0.675852 0.917295 0.545066 1.39454 1 2C 0.545066 2.86783 1.01623 3.71828 2 4C 1.29405 4.20062 0.883003 4.07538 1 4L 1 4C 0.523145 5.24738 1.44273 6.37031 3 7C 2.43865 6.6885 2.20308 6.7232 2 7C 1.78716 6.7232 1.62063 6.70543 1 7C 1.79689 7.77589 2.78147 8.57894 4 9C 3.03574 9.34564 1.88545 9.78821 1 10C 0.420801 9.78821 0.208765 9.77467 0 10C 1.18035 10.5397 2.58165 11 4 11C 8.99351 11 11.6751 6.76721 12 3L 12 3C 12.1901 2.3474 12.6434 1.85829 13 1Z"/>
							</defs>
							</svg>
						</i>
					</a>
					<a href="#">
						<i>
							<svg width="28" height="28" viewBox="0 0 28 28" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
							<g id="Canvas" transform="translate(-2866 -6208)">
							<g id="1">
							<g id="1">
							<use xlink:href="#path0_fill-inst" transform="translate(2867 6209)" fill="#000000" fill-opacity="0.08"/>
							<mask id="mask0_outline_out">
							<rect id="mask0_outline_inv" fill="white" x="-1" y="-1" width="28" height="28" transform="translate(2867 6209)"/>
							<use xlink:href="#path0_fill-inst" fill="black" transform="translate(2867 6209)"/>
							</mask>
							<g mask="url(#mask0_outline_out)">
							<use xlink:href="#path1_stroke_2x" transform="translate(2867 6209)" fill="#1C3150"/>
							</g>
							</g>
							<g id="1">
							<use xlink:href="#path2_fill" transform="translate(2874 6215)" fill="#465B76"/>
							</g>
							</g>
							</g>
							<defs>
							<path id="path0_fill-inst" class="footer-ic-bg" fill-rule="evenodd" d="M 0 2C 0 0.895431 0.895431 0 2 0L 24 0C 25.1046 0 26 0.895431 26 2L 26 24C 26 25.1046 25.1046 26 24 26L 2 26C 0.895431 26 0 25.1046 0 24L 0 2Z"/>
							<path id="path1_stroke_2x" d="M 2 1L 24 1L 24 -1L 2 -1L 2 1ZM 25 2L 25 24L 27 24L 27 2L 25 2ZM 24 25L 2 25L 2 27L 24 27L 24 25ZM 1 24L 1 2L -1 2L -1 24L 1 24ZM 2 -1C 0.343146 -1 -1 0.343146 -1 2L 1 2C 1 1.44772 1.44772 1 2 1L 2 -1ZM 24 1C 24.5523 1 25 1.44772 25 2L 27 2C 27 0.343146 25.6569 -1 24 -1L 24 1ZM 25 24C 25 24.5523 24.5523 25 24 25L 24 27C 25.6569 27 27 25.6569 27 24L 25 24ZM 2 25C 1.44772 25 1 24.5523 1 24L -1 24C -1 25.6569 0.343146 27 2 27L 2 25Z"/>
							<path id="path2_fill" class="footer-ic-logo" fill-rule="evenodd" d="M 2 0L 11 0C 12.2492 0 13 0.679405 13 2L 13 11C 13 12.3207 12.2492 13.0001 11 13L 2 13C 0.750683 13.0001 0 12.3207 0 11L 0 2C 0 0.679405 0.750683 0 2 0L 2 0ZM 10 1C 9.299 1 9 1.30709 9 2L 9 3C 9 3.69276 9.299 4 10 4L 11 4C 11.7007 4 12 3.69276 12 3L 12 2C 12 1.30709 11.7007 1 11 1L 10 1L 10 1ZM 11 5L 10 5C 9.97269 5.35296 10.0308 5.72686 10 6C 10.0308 8.27305 8.23685 10.0235 6 10C 3.81198 10.0235 2.01832 8.27305 2 6C 2.01832 5.72659 2.07628 5.35283 2 5L 1 5L 1 10C 1 10.7677 1.23053 11 2 11L 10 11C 10.7695 11 11 10.7678 11 10L 11 5L 11 5ZM 6 4C 5.11932 4 4 5.11922 4 7C 4 7.88078 5.11932 9 6 9C 7.88055 9 9 7.88078 9 7C 9 5.11922 7.88068 4 6 4Z"/>
							</defs>
							</svg>

						</i>
					</a>
				</div>
			</div>
		</div>