<!DOCTYPE html>
 <!--[if IE 9]><htmlclass="no-js ie lt-ie10"> <![endif]--> 
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>{{.title}}</title>
  <!-- SEO -->
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="vk.com/id26228718">
  <!-- CSS -->
  <link rel="stylesheet" href="/public/css/vendor/normalize.css">
  <link rel="stylesheet" href="/public/css/vendor/animate.css">
  <link rel="stylesheet" href="/public/css/vendor/fonts.css">
  <!---->
  <link rel="stylesheet" type="text/css" href="/public/css/vendor/slick.css"/>
  <link rel="stylesheet" type="text/css" href="/public/css/vendor/slick-theme.css"/>
  <link rel="stylesheet" href="/public/css/style.css">
  <!-- CSS end -->
  <link type="image/x-icon" rel="shortcut icon" href="/public/img/favicon.png" />
  <script src="/public/js/jquery-2.2.4.min.js"></script>
  <script src="/public/js/vendor/modernizr.js"></script>
  <script src="/public/js/html5shiv.js"></script>

  
</head>
<body>
<!--[if lt IE 8]>
  <p class="browsehappy">Ваш браузер <strong>устарел</strong>.
  Пожалуйста <a href="http://browsehappy.com/">обновите</a> его.</p>
<![endif]-->

{{if or .flash.error .flash.success}}
<div id="flash-content">
  {{if .flash.error}}
    <p class="fError">
      <strong>{{.flash.error}}</strong>
    </p>
  {{end}}
  {{if .flash.success}}
    <p class="fSuccess">
      <strong>{{.flash.success}}</strong>
    </p>
  {{end}}
</div>
{{end}}