	<!--==SCRIPTS==-->
	<script src="/public/js/wow.min.js"></script>
	<script>
		new WOW().init();
	</script>
	<script src="/public/js/jquery.tabslet.min.js"></script>
	<script src="/public/js/slick.min.js"></script>
	<script src="/public/js/main.js"></script>

</body>
</html>